

body {
    background-color: #F8EB22;
    min-height: 100vh;
    font-family: "Rethink Sans", serif;  
}

/* Styles für Navbar*/

nav {
background-color: #F8EB22; 
box-shadow: 3px 3px 5px rgba(0 0 0 0.1);
position: sticky;
top: 0px;
z-index: 999;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav li {
    height: 80px;
}

nav a {
    font-family: "Rethink Sans", serif; 
    font-size: 25px;
    font-weight: bold;
    color: black;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: black;
}

.LogoNav:hover {
    color: black;
    background-color: #F8EB22;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar-gef {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent !important;
    /*
    -webkit-backdrop-filter: blur(32px) !important;
    backdrop-filter: blur(32px) !important;
    */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0px;
}

.sidebar-gef li {
    width: 100%;
}

.sidebar-gef a {
    width: 100%;
}

.menu-button {
    display: none;
}


/* Styles für Header */

.Top {
    font-family: "Rethink Sans", serif;
    padding: 20px 0px 0px 0px; 
}
  
.fullsize {
    display: flex;
    flex-wrap: wrap;  
}

.row justify-content-center header-top {
    width: 100%;
}

.title-top {
    margin-top: 7px;
}

/* Styles für Hero Section */

.align-items-center {
    margin-bottom: 30px;
}

.py-5 {
    padding-top: 5px;
    margin-top: 5px;
    
    }

.lead {
    font-family: "Rethink Sans", serif;
    color: black;    
}

.display-5 .fw-bold .text-body-emphasis .lh-1 .mb-3 {
    font-family: "Rethink Sans", serif;
    font-weight: 100;
    font-style: normal;
    color: black;     
}

.tk1 {
    padding-bottom: 30px;
}

.container-hero {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 200px auto;
    gap: 20px;
    width: 100%;
    }

.grid-item {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 1;
    grid-column-end: 1;

}

.grid-image {
    grid-row-start: 1; 
    grid-row-end: 4; 
    grid-column-start: 2;
    grid-column-end: 2;
    

}

.grid-item-2 {
    grid-row-start: 3; 
    grid-row-end: 4; 
    grid-column-start: 1;
    grid-column-end: 1;

}

.hero-h1 {
    font-family: "Rethink Sans", serif;
    font-size: 2rem;
    font-style: bold; 
    color: #F8EB22; 
    background-color: black;
    margin-bottom: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 20px;
    margin-right: 8rem;
    margin-left: 15px;
  
}

.hero-h2 {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-style: bold; 
    color: black; 
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 20px;
}

.hero-p {
    font-family:"Rethink Sans", serif;
    font-size: 1.5rem;
    color: black; 
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Styles für Logo Section */

.container-Logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.LogoSection-top {
    background-color: #F8EB22; 
}

.LogoSection {
    padding: 0px 0px 0px 0px;  
    background-color: #F8EB22; 
}

.logo-top {
    font-family: "Rethink Sans", serif;
    font-size: 1.5rem;
    color: black; 
}

/* Styles für Schirmherr-Section */

.container-Schirmherr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr 2fr;
    width: 100%;
    margin-top: 80px;
}

.Schirmherr-h2 {
    background: white;
    font-family: "Rethink Sans", serif;
    color: black;
    font-size: 1.3rem;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.Schirmherr-Text {
    background: white;
    font-family: "Rethink Sans", serif;
    color: black;
    font-size: 1.2rem;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 0px;
}

.grid-image-schirmherr {
    grid-column-start: 1; 
    grid-column-end: 1;
    
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    
    height: 100%;
    object-fit: cover;
}



/* Styles für Programm und Zeitplan */

.section-padding {
    background: #F8EB22;
    padding-top: 100px;
    padding-bottom: 0px;
}

/* Styles für das Programm */

.container-programm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-inline: auto;
    
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-programm {
    border: solid 0.5px black;
}

.item-2-programm {
    border: solid 0.5px black;
}

.item-overlay {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-weight: 600; 
    color: black;
    background: white;
    align-self: end;
    z-index: 10;
    margin-bottom: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    box-shadow: 0 .25 1rem rgb(0 0 0 / .1);
}

.item-overlay-link {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-weight: 600; 
    color: black;  
}

.item-overlay-link:hover {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-weight: 600; 
    color: #F8EB22;
}
.mb-4 {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-weight: 700; 
    color: black; 
    padding-bottom: 20px;
}

.text-body-secondary {
    font-family: "Rethink Sans", serif; 
    color: black;
    font-size: 20px;
}

.programm-header {
    color: white;
}

.row .justify-content-center .over-programm {
    position: absolute;
    margin: 0 0 0 0;
    padding-top: 50px ;
    width: 100%;
    height: 100%;   
}

.artists-thumb {
    position: relative;
    font-family: "Rethink Sans", serif;
    font-size: 40px;
    font-weight: 500;
}

/* Styles für den Zeitplan */

.zeitplan {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: url("/images/Vegan-Festival.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;  
    padding-bottom: 100px; 
    padding-top: 100px; 
}

.mb-zeitplan {
    font-family: "Rethink Sans", serif;
    font-size: 2.5rem;
    font-weight: 700; 
    color: black; 
    padding-bottom: 40px;
    text-align: center;

}

.mb-z {
    font-family: "Rethink Sans", serif;
    font-size: 4rem;
    font-weight: 700; 
    color: white; 
    padding-bottom: 50px;
}

.schedule-table .pop-background-image {
    background-image: url("images/Vegan-Festival.jpg");
    opacity: 80%;
}

.schedule-table .pop-background-image1 {
    background-image: url("images/walle1.jpg");
    opacity: 80%;
}

.schedule-table .pop-background-image2 {
    background-image: url("images/Balkonmodul_bauen.jpg");
    opacity: 80%;
    height: 250px;
}

.schedule-table .pop-background-image3 {
    background-image: url("images/yoga.jpeg");
    opacity: 80%;
    height: 250px;
}

.schedule-table .pop-background-image4 {
    background-image: url("images/Fahrraddisko1.jpg");
    opacity: 80%;
    height: 250px;
}

.schedule-table .pop-background-image7 {
    background-image: url("images/concert-1854113_1280.jpg");
    opacity: 80%;
    height: 250px;
}

.schedule-table .pop-background-image6 {
    background-image: url("images/Vortrag.png");
    opacity: 80%;
    height: 250px;
}

.schedule-table thead th {
    background-color: #212529;
    border-right: 1px solid #363a3e;
    color: white;
    font-family: "Rethink Sans", serif;
    font-size: 20px;
}

.schedule-table th, .schedule-table tr, .schedule-table td {
    font-family: "Rethink Sans", serif;
    font-size: 20px;
}

.zeitplan-h4 {
    color: white;
    font-weight: 700;
}

/* Styles für Bands */ 


.custom-video {
    position: relative;
    min-height: 60vh;
}
.bandssection {
    display: flex;
    flex-wrap: wrap;
    color: #F8EB22;
    text-shadow: 2px 2px 2px rgb(0,0,0,.2);
    font-family: "Rethink Sans", serif;
    font-size: 72px;
    font-weight: 700;
}

.bands-overlay {
    position: absolute;
    margin: 0 0 0 0;
    padding-top: 100px ;
    width: 100%;
    height: 100%;
    font-family: "Rethink Sans", serif;
    font-size: 4rem;
    font-weight: 700; 
    color: #F8EB22; 
}
    
.bands-overlay2 {
    position: absolute;
    margin: 0 0 0 0;
    padding-top: 240px ;
    width: 100%;
    height: 100%;
    font-family: "Rethink Sans", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #F8EB22;
}

.bands-sectionp {
    background: black;
    padding-bottom: 0;
    }

/* Styles für Anfahrt */

.Karte {
    font-family: "Rethink Sans", serif;
    font-size: 1rem;
    font-weight: bold; 
    color: black;
}


/* Styles für Div Site-Footer-Top*/

.site-footer {
    background-color: #F8EB22;  
}

.site-footer-top {
    background-color: #F8EB22;  
    margin: 0px;

}

.site-footer-title {
    font-family: "Rethink Sans", serif; 
    font-size: 30px;
    color: black;
}

.site-footer-link {
    font-family: "Rethink Sans", serif; 
    font-size: 18px;
    color: black;   
}

.site-footer-item:hover {
    font-family: "Rethink Sans", serif; 
    font-size: 18px;
    color: white;   
}
.copyright-text {
    font-family: "Rethink Sans", serif; 
    font-size: 18px;
    color: black; 
}

.container-Logos-Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 55px;
}

.LogoSection-Footer {
    padding: 0px 0px 0px 0px;  
    background-color: #F8EB22; 
    margin-bottom: 50px;
}

.footer-top {
  margin-left: 40px;  
}

.logo-top-Footer {
    font-family: "Rethink Sans", serif;
    font-size: 1.5rem;
    color: black; 
    text-align: left;
}

.mt-5 {
    width: 40%;
}

.mt-lg-5 {
    width: 60%;
}

.ax {
    font-family: "Rethink Sans", serif; 
    font-size: 40px;
    color: black;  
}

.text-white-d-flex {
    font-family: "Rethink Sans", serif; 
    font-size: 18px;
    color: white;
}

.text-white-footer {
    font-family: "Rethink Sans", serif; 
    font-size: 30px;
    color: white;
}

.social-icon-link {
    background: black;
}


/* Media Queries */

@media (max-width: 1400px) {
    
    .container-hero {
        margin-top: 60px;
        margin-bottom: 70px;
        margin-left: 40px;
    }
    
    .hero-p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1300px) {
    
    .container-hero {
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 40px;
    }
    
    .hero-h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .hero-p {  
        font-size: 1.15rem;
    }
}

@media (max-width: 1200px){
    
    .container-hero {
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 40px;
    }

    .header-grid {
        grid-template-rows: 180px auto;
        gap: 10px;
        width: 100%;
        }


    .hero-h1 {
        font-size: 1.5rem;
        margin-bottom: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 20px;
        margin-right: 8rem;
        margin-left: 15px;
      
    }
    
    .hero-h2 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }

    .hero-p {  
        font-size: 1.05rem;
    }

    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 1094px){
    
    .container-hero {
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 40px;
    }

}
@media (max-width: 400px){
    .sidebar-gef{
        width: 100%;
    }
    .menu-button {
        display: block;
    }
}


